@import "../../../../../styles";
:host {
	display: flex;
	flex-direction: column;
	height: 100%;
	.loading, .no-results, .error{
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: center;
		font-weight: bold;
	}
	.results-container {
		display: flex;
		flex: 1;
		flex-direction: row;
		app-list {
			flex: 0.25;
		}
		app-content {
			flex: 0.75;
		}
	}
	@include breakpoint(xs) {
		.results-container {
			flex-direction: column;
			app-list {
				flex: 0.5;
			}
			app-content {
				flex: 0.5;
			}
		}
	}
}
