@import "../../../../../colors";
:host {
	padding: 16px;
	.content-item {
		margin-bottom: 8px;
		.title {
			margin-right: 8px;
		}
		.value {
			a {
				color: $color-primary;
				text-decoration: none;
				word-break: break-all;
			}
		}
	}
}
