// primary color
$color-primary-light: #4FC3F7;
$color-primary: #03A9F4;
$color-primary-dark: #0288D1;

// accent color
$color-accent-light: #FFB74D;
$color-accent: #FF9800;
$color-accent-dark: #F57C00;
